{% set page = namespace(path = '/') %}
{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
      <form id="plot-form" method='get'>
      <!-- Date -->
      <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input id="date" class="form-control" type="date" onchange="onDateInputChange()"/>
      </div>

      <!-- Time -->
      <div class="mb-3">
        <label for="time" class="form-label">Time</label>
  <!--<input id="time" class="form-control" type="time" onchange="onFormInputChange()"/>-->
        <select class="form-select" aria-label=".form-select" id="time" onchange="onFormInputChange()">
        </select>

      </div>

      <!-- Region -->
      <div class="mb-3">
        <label for="size" class="form-label">Region</label>
        <select class="form-select" aria-label=".form-select" id="region" onchange="onFormInputChange()">
          <option selected value="gb_ireland">Great Brittan and Ireland</option>
          <option value="scotland">Scotland</option>
        </select>
      </div>

      <!-- Thinning distance -->
      <div class="mb-3">
        <label class="form-label" for="thin_distance">Thinning Distance (in km)</label>
        <input class="form-input" type="number" min="10" max="100" value="40" id="thin_distance" checked onchange="onFormInputChange()">
      </div>

      <!-- Plot Pressure -->
      <div class="mb-3">
        <label class="form-check-label" for="show_pressure">Plot Pressure</label>
        <input class="form-check-input" type="checkbox" value="" id="show_pressure" checked onchange="onFormInputChange()">
      </div>

      <!-- Figure Size -->
      <!--
      <div class="mb-3">
        <label for="size" class="form-label">Size</label>
        <select class="form-select" aria-label=".form-select" id="size" onchange="onFormInputChange()">
          <option selected value="web">Web</option>
          <option value="a4">A4</option>
          <option value="a3">A3</option>
        </select>
      </div>
      -->
      <input type="hidden" id="size" value="a3"/>

      <!-- Submit -->
      <button class="btn btn-primary" type="submit">Plot</button>
    </form>
  </div>
</div>

{% endblock %}

<!-- CSS -->
{% block css %}

{% endblock %}

<!-- JS -->
{% block scripts %}
<script>

const today = new Date().toISOString().split("T")[0];
const hour = parseInt(new Date().toISOString().split("T")[1].split(":")[0]);

function get_element(id) {
  // Wrapper for document.getElementById
  return document.getElementById(id) || null;
}

function onDateInputChange() {
  var frm = get_element('plot-form');
  var date_picker = get_element('date');
  var time_picker = get_element('time');

  if( frm && date_picker && time_picker ) {

    while (time_picker.firstChild)
      time_picker.removeChild(time_picker.lastChild);

    const maxHour = (date_picker.value == today) ? (hour) : 23;
    for (var h=0; h<=maxHour; h++) {
        var option = document.createElement("option");
        option.text = String(h);
        option.value = String(h).padStart(2, "0");
        time_picker.appendChild(option);
    }

  }
  onFormInputChange();
}

function onFormInputChange() {
  // onchange event for form elements -- updates the form's action URL
  var frm = get_element('plot-form');
  var date_picker = get_element('date');
  var time_picker = get_element('time');
  var region = get_element('region');
  var size = get_element('size');
  var show_pressure = get_element('show_pressure');
  var thin_distance = get_element('thin_distance');

  if( frm && date_picker && region && size && show_pressure && time_picker && thin_distance) {
    frm.action = "{{ url_for('index') }}"
      + "plot/"
      + date.value + "/"
      + time.value + "/"
      + region.value + "/"
      + thin_distance.value + "/"
      + (show_pressure.checked ? "with_pressure" : "without_pressure") + "/"
      + size.value;
  }
}

// Disable dates later than today
var date_picker = get_element('date');
if (date_picker) {
  date_picker.max = today;
  date_picker.value = today;
}
onDateInputChange();
var time_picker = get_element('time');
if (time_picker) {
  time_picker.value = String(hour).padStart(2, '0');
}

</script>
{% endblock %}
